<div id="<%= dom_id post %>">

  <div>
    Author:
    <%= post.user.name %>
    <%= post.user.surname %>
  </div>

  <div>
    Creation:
    <%= post.date %>
  </div>

  <br>
  
  <div>
    Title:
    <%= post.title %>
    <br>
    <%= post.body %>
  </div>
  
</div>
